# AIT580 Assignment 6.1 - R for Data Analysis
###### ---------------------------------------------------------------------------------------
##### Purpose for GMU-AIT students to learn R for Data Science
##### The template created by Dr. Liao (6/5/2020)
###### ---------------------------------------------------------------------------------------
##### Student ID:
##### Student's Full Name: John Gullette, Karyna Todd, Rebeca Conn
##### Submission Date: 09/12/2021
###### ---------------------------------------------------------------------------------------

## Import Packages
##### e.g., if no "dplyr", please open the shell and run "conda install -c r r-dplyr" to install it.

In [7]:
library("dplyr")

#### Remove all objects from the current workspace (R memory)

In [8]:
rm(list=ls())

#### Load CSV file and create the dataframe

In [46]:
data <- read.csv(file='EmployeeAttrition.csv')

#### 1. Count the total numbers of records and columns in the table.

In [13]:
nrow(data)

[1] 1470

In [15]:
length(data$Age)

[1] 1470

#### 2. How many unique JOBROLE are there in the dataset.

In [17]:
length(unique(data$JobRole))

[1] 9

#### 3. What percent of total employees have TOTALWORKINGYEARS less than equal to 5? The percentage should have 2 decimal places.

In [24]:
round(mean(data$TotalWorkingYears <= 5),2)

[1] 0.21

#### 4. Find EMPLOYEENUMBER, EDUCATIONFIELD, JOBROLE for all the employees whose AGE is greater than equal to 50 and ATTRITION is YES.

In [26]:
subset(data, Age >= 50 & Attrition == 'Yes', select = c(EmployeeNumber, EducationField, JobRole))

     EmployeeNumber EducationField   JobRole
37     47           Marketing        Sales Representative
123   161           Life Sciences    Research Scientist
127   165           Medical          Healthcare Representative
137   179           Life Sciences    Manufacturing Director
318   433           Medical          Research Scientist
529   723           Technical Degree Sales Executive
569   787           Medical          Manager
596   825           Life Sciences    Research Director
609   842           Medical          Sales Executive
661   918           Life Sciences    Laboratory Technician
701   977           Technical Degree Research Scientist
750  1038           Marketing        Manager
780  1081           Life Sciences    Research Scientist
802  1113           Other            Sales Executive
948  1319           Life Sciences    Sales Executive
967  1360           Medical          Manufacturing Director
976  1372           Marketing        Sales Executive
1112 1572           Technical Degree Manufacturing Director
1355 1907           Life Sciences    Laboratory Technician
1397 1968           Life Sciences    Sales Executive
1445 2032           Technical Degree Laboratory Technician
1453 2044           Life Sciences    Sales Executive
1462 2055           Marketing        Sales Executive

#### 5. For each JOBROLE, find the average MONTHLYINCOME. Arrange the output in descending order.

In [33]:
df1 <- group_by(data, JobRole)
df2 <- summarize(df1, AvgMonthlyIncome = mean(MonthlyIncome))
arrange(df2, desc(AvgMonthlyIncome))

  JobRole                   AvgMonthlyIncome
1 Manager                   17181.676
2 Research Director         16033.550
3 Healthcare Representative  7528.763
4 Manufacturing Director     7295.138
5 Sales Executive            6924.279
6 Human Resources            4235.750
7 Research Scientist         3239.973
8 Laboratory Technician      3237.170
9 Sales Representative       2626.000

#### 6. Count the different MARITALSTATUS when ATTRITION is YES and AGE is greater than 35 in the dataset. Arrange the count in descending order.

In [42]:
df3 <- subset(data, Attrition == 'Yes' & Age > 35)
df4 <- group_by(df3, MaritalStatus)
df5 <- summarize(df4, CountMaritalStatus = length(MaritalStatus))
arrange(df5, desc(CountMaritalStatus))

  MaritalStatus CountMaritalStatus
1 Married       33
2 Single        30
3 Divorced      14

#### 7. For all the women employees having AGE between 55 and 60 and JOBLEVEL > 4, sort the DEPARTMENT from A to Z first and then EMPLOYEENUMBER in ascending order. Print only DEPARTMENT and EMPLOYEENUMBER in the output.

In [44]:
df6 <- data %>% filter(Gender == 'Female' & Age > 55 & Age < 60 & JobLevel > 4) %>% arrange(Department, EmployeeNumber) %>% select(Department, EmployeeNumber)
df6

  Department             EmployeeNumber
1 Human Resources         140
2 Research & Development 1191
3 Research & Development 1423

#### 8. What are the correlations between Education, JobSatisfaction, and HourlyRate?

In [45]:
cor(data.frame(data$Education, data$JobSatisfaction, data$HourlyRate))

                     data.Education data.JobSatisfaction data.HourlyRate
data.Education        1.00000000    -0.01129612           0.01677483
data.JobSatisfaction -0.01129612     1.00000000          -0.07133462
data.HourlyRate       0.01677483    -0.07133462           1.00000000